body{
    background: #ffffff;
}


/* navbar */

.navbar{
    min-height: 33px !important;
    padding-left: 50px;
    margin-bottom: 0;
    border-radius: 0;
    background-image: url("../images/connected2.png")
}

.navbar > li > a, .navbar-brand{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 33px;
}

.navbar {
    background-color: transparent;
}
.navbar .navbar-brand {
color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
color: #d5b813;
}
.navbar .navbar-text {
color: #ffffff;
}
.navbar .navbar-text a {
color: #d5b813;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
color: #d5b813; 
}
.navbar .navbar-nav .nav-link {
color: #ffffff;
border-radius: .25rem;
margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
color: #d5b813;
}
.navbar .navbar-nav .dropdown-menu {
background-color:transparent;
border-color: #faf8fb;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
color: #d5b813;
background-color: #faf8fb;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
border-top-color: #faf8fb;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
color: #d5b813;
background-color: #faf8fb;
}
.navbar .navbar-toggle {
border-color: #faf8fb;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
background-color: #faf8fb;
}
.navbar .navbar-toggle .navbar-toggler-icon {
color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
border-color: #ffffff;
}
.navbar .navbar-link {
color: #ffffff;
}
.navbar .navbar-link:hover {
color: #d5b813;
}

/* Custom */
.main-color-bg{
    background-color:  transparent;
    color: #ffffff;
}
.class-padding{
  margin-top: 20px;
}


/* header */

#header {
  background: #797878;
  color: #ffffff;
  padding-bottom: 20px;
  margin-bottom: 0px;
}
#header .col-md-10 {
  margin-top: 20px;
  margin-left: -50px;
}

/* breadcrumb */

.breadcrumb{
  background: #cccccc;
  color: #ffffff;
}

.breadcrumb a{
  color: #ffffff;
}

/* card and progress bar */
.small-card{
  margin-top: 10px;
}
.card-block{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;

}
.progress-bar {
  background: #797878;
  color:#ffffff;
}
.dash-box{
  text-align: center;
}
/* footer */
#footer{
  background: #797878;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  margin-top: 0px;
}



/* improve shadow */

.justify-content-center {
  margin-top: 60px;
}
.justify-content-center .card {
  background: rgba(255, 255, 255,0.8);
  box-shadow: rgba(0, 0, 0, 0.1)10px 10px
10px;
}
.hold-background {
  background-image: url("../images/images.jpg")
}


/* customs */
.try-back{
  color:#ffffff;
  background-image: url("../images/connected2.png")
  
}
.my-submit{
  padding: 8px 40px;
  position: relative;
  top: 1.5px;
  left: 320px;

}










  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d5b813;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #d5b813;
      background-color: #faf8fb;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d5b813;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #d5b813;
      background-color: #faf8fb;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d5b813;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #d5b813;
      background-color: #faf8fb;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #d5b813;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #d5b813;
      background-color: #faf8fb;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d5b813;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d5b813;
    background-color: #faf8fb;
  }